body, header, footer, html, .results, .each-result {
    background-color: #003766;
    color: #fff;
}

.title, .subtitle, .content h1, .content h2 {
    color: #fff;
}

ul {
    list-style: disc;
    padding-left: 1em;
}