{% extends "_layouts/base.html" %}
{% block title %}

Index | {{ super() }}

{% endblock %}
{% block content %}




<div class="container">

    <div id="content" class="columns p-6 ">

        <div class="column is-half is-offset-one-quarter">

            <div class="column card has-background-light ">
                <form method="post" class="column">

                    <div class="field">
                        <label class="label">Fecha inicio</label>
                        <div class="control">
                            <input type="date" id="start_date" name="start_date">
                            <script>
                                var options = {
                                    dateFormat: 'dd/MM/yyyy',
                                    color: "primary",
                                    showClearButton: false,
                                    startDate: "01/01/2022"
                                };
                                bulmaCalendar.attach('[type="date"]', options);
                            </script>
                        </div>
                    </div>

                    <div>
                        <label class="label">Fecha fin</label>
                        <div class="control">
                            <input type="date" id="end_date" name="end_date">
                            <script>
                                let today = new Date().toLocaleDateString();
                                var options = {
                                    dateFormat: 'dd/MM/yyyy',
                                    color: "primary",
                                    showClearButton: false,
                                    startDate: today                                    
                                };
                                bulmaCalendar.attach('[type="date"]', options);
                            </script>
                        </div>
                    </div>
                    
                    <label class="label mt-3">Datos de uso</label>
                    <div class="control select">
                      <select id="search_type" name="search_type">
                        <option value="group">Sólo grupo</option>

                        <option value="users">Grupo más usuarios</option>
                      </select>
                    </div>

                    

                    <div class="control buttons is-right pt-4">
                        <button class="button is-primary is-size-5" type="submit" value="register">Calcular</button>
                    </div>

                </form>
            </div>

            {% if data  %}
                <div class="container">
                    <h2 class="title has-text-centered has-text-white pt-5">{{ start_date }} - {{ end_date }}</h2>
                    <div class="columns p-4 mt-4 has-text-centered">
                        <div class="column is-6 p-1">
                            <p class="title is-5 has-text-white">Grupo</p>
                        </div>
                        <!--div class="column is-4 p-1">
                            <p class="title is-5 has-text-white">Horas</p>
                        </div-->
                        <div class="column is-6 p-1">
                            <p class="title is-5 has-text-white">UCH</p>
                        </div>
                    </div>
                </div>
                

                <div class="container each-result">
        
                    <div class="columns p-4 has-text-weight-semibold has-text-centered">

                        <div class="column is-6 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{group}}</p>
                            </div>
                        </div> 

                        <!--div class="column is-4 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{data['time']}}</p>
                            </div>
                        </div-->
      
                        <div class="column is-6 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{ data['uch'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
        
               

            {% endif %}

            {% if users  %}
                <div class="container">
                    <div class="columns p-4 has-text-centered">
                        <div class="column is-6 p-1">
                            <p class="title is-5 has-text-white">Usuario</p>
                        </div>
                        <!--div class="column is-4 p-1">
                            <p class="title is-5 has-text-white">Horas</p>
                        </div-->
                        <div class="column is-6 p-1">
                            <p class="title is-5 has-text-white">UCH</p>
                        </div>
                    </div>
                </div>
                
                {% for k in users %}
                <div class="container each-result">
        
                    <div class="columns p-4 has-text-weight-semibold has-text-centered">

                        <div class="column is-6 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{k}}</p>
                            </div>
                        </div> 

                        <!--div class="column is-4 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{ users[k]['time'] }}</p>
                            </div>
                        </div-->
      
                        <div class="column is-6 p-2">
                            <div class="column card has-background-light is-size-5">
                                <p>{{ users[k]['uch'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
               

            {% endif %}
            
            {% if messages  %}
            <div class="notification has-text-black ptb-4 plr-6 mt-6">
                <label class="label">Atención</label>
                <ul>
                    {% for k in messages %}
                    <li>{{ messages[k] }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </div>

    </div>
</div>

{% endblock %}
