{% extends "_layouts/base.html" %}
{% block title %}

Index | {{ super() }}

{% endblock %}
{% block content %}

<div id="content" class="columns">


<div class="column is-offset-one-fifth">
    <div class="card is-three-fifths">
        <form method="post"> 
            <div class="field"><input class="input is-primary" type="text" id="start_date" placeholder="dd/mm/yyyy"></div>
            <div class="field"><input class="input is-primary" type="text" id="end_date" placeholder="dd/mm/yyyy"></div>
            <button class="button niceButton" type="submit" value="register">submit</button>
        </form>
       
            

    </div>

</div>


</div>
{% endblock %}
